<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<title>iWant2Give</title>
        <meta name="description" content="">
		<base href="https://jackapbutler.github.io/Irish-Charity-Finder/templates/">
		
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="img/favicon.ico"/>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/light-box.css">
        <link rel="stylesheet" href="css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

        <script type="text/javascript" async=1>
            ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[]; p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments) };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1; n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","https://storage.googleapis.com/charityapp-sp-js/jack-test.js","snowplow"));
        
            snowplow("newTracker", "sp", "{{https://http://34.105.197.14}}", {
                appId: "jacks_charity_homepage",
                platform: "web",
                    contexts: {
                        webPage: true,
                        performanceTiming: true
                    }
            });
            
            snowplow('disableAnonymousTracking');
            
            snowplow(function () {
                console.log("sp.js has loaded");
            });

            function getSnowplowDuid(cookieName) {
                cookieName = cookieName || '_sp_';
                var matcher = new RegExp(cookieName + 'id\\.[a-f0-9]+=([^;]+);?');
                var match = document.cookie.match(matcher);
                if (match && match[1]) {
                    return match[1].split('.')[0];
                } else {
                    return false;
                }
            }
        </script>

    </head>

<body>

    <nav>
        <div class="logo">
            <a>Data-Driven<em> Charity</em></a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1><em>Welcome</em></h1>
              <p><em>iWant2Give </em> is an AI-powered navigation tool for Irish Charities</p>
              <p>Contribute in the most effective way, to the most efficient charities today!</p>
			  <form action="search.html">
				<input type="submit" value="Search for a Charity" class="btn btn-primary mb-2"/>
			  </form>
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="about_us" href="#"><img src="img/scroll-icon.png" alt=""></a>
                </div>    
            </div>
        </div>
        <video autoplay loop muted>
        	<source src="highway-loop.mp4" type="video/mp4" />
        </video>
    </div>


    <div class="services" id="about_us">
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_1.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Data-Driven Insights</h4>
                        <p>Using a plethora of open-source Irish Charity datasets our team is able to provide guidance on where you can place your charitable donations.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_4.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Artificial intelligence</h4>
                        <p>State of the art artificial intelligence algorithms process huge volumes of data daily and deliver key insights into the efficiency of Irish Charities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_3.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Global Comparisons</h4>
                        <p>Compare your favourite Irish Charities to their international counterparts around the world.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2021 iWant2Give </p>
            </div>
        </div>
    </footer>

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="index.html">Home</a>
                  </li>
				  <li>
                      <a href="search.html">Use the Tool</a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    
</body>
</html>